{% extends 'covid19helplineinfoapp/base.html' %}
{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">CoronoVirus(Covid-19)</h1>

  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Cases</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard.total_cases}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Recovered</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard.total_recovered}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left shadow h-100 py-2" style="border-left :.25rem solid red !important">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Death</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{dashboard.total_death}}</div>
                </div>

              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Pending Requests Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total On-going</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard.total_ongoing}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 id="location" class="m-0 font-weight-bold text-primary">Location </h6>
          <br>

        </div>
        <a href="/signup" class="btn btn-outline-success">Volunteer</a><a href="/signup"
          class="btn btn-outline-danger">Seek
          Help</a>
        <!-- Card Body -->
        <div class="card-body">
          <div id="map"></div>
          <script>


            var Latitude = undefined;
            var Longitude = undefined;


            var map, infoWindow;
            function initMap() {
              // $("p#location_address").text("DXC Technology, Electronic City Phase 1, Bangalore");
              // $(".modal").addClass("is-active");
              // return;
              map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 12,
                mapTypeControl: false
              });
              infoWindow = new google.maps.InfoWindow;
              // Try HTML5 geolocation.
              console.log(navigator.geolocation);
              if (navigator.geolocation) {
                console.log('inside');
                navigator.geolocation.getCurrentPosition(function (position) {
                  console.log('getting current postion');
                  var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  console.log(pos);

                  // infoWindow.setPosition(pos);
                  // infoWindow.setContent("You are here !");
                  // infoWindow.open(map);
                  map.setCenter(pos);



                  // geocode 
                  var geocoder = new google.maps.Geocoder;
                  var infowindow = new google.maps.InfoWindow;
                  geocodeLatLng(geocoder, map, infowindow, pos);
                  // Put markers









                  setMarkers(map, pos);
                }, function () {
                  handleLocationError(true, infoWindow, map.getCenter());
                });
              } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
              }

              // initAutocomplete();
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
              infoWindow.setPosition(pos);
              infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
              infoWindow.open(map);
            }



            function geocodeLatLng(geocoder, map, infowindow, pos) {

              geocoder.geocode({ 'location': pos }, function (results, status) {
                if (status === 'OK') {
                  console.log(results);
                  if (results[0]) {
                    map.setZoom(11);
                    var marker = new google.maps.Marker({
                      position: pos,
                      map: map
                    });


                    var addr = results[0].formatted_address.split(',');
                    var addrLen = addr.length;
                    var country = addr[addrLen - 1].trim();
                    var state = addr[addrLen - 2].trim().split(' ')[0];
                    var district = addr[addrLen - 3].trim();
                    console.log(country, state, district);



                    // show data for district
                    $.get('https://api.covid19india.org/state_district_wise.json', function (data) {
                      console.log(data[state].districtData[district]);

                      // infowindow.setContent(results[0].formatted_address + " " + "<em style='color:red;font-weight:bold;font-size:1em'>CONFIRMED CASES >> " + data[state].districtData[district].confirmed + "</em>");
                      // infowindow.open(map, marker);
                      $("#location").html(results[0].formatted_address + " " + "<em style='color:red;font-weight:bold;font-size:1em'>CONFIRMED CASES >> " + data[state].districtData[district].confirmed + "</em>")
                    });
                  } else {
                    window.alert('No results found');
                  }
                } else {
                  window.alert('Geocoder failed due to: ' + status);
                }
              });
            }


            // Data for the markers consisting of a name, a LatLng and a zIndex for the
            // order in which these markers should display on top of each other.
            // var beaches = [

            //   [
            //   {% for people in people_around %}
            //     '{{people.id}}', {{people.1}}, {{people.2}}
            //   {% endfor %}
            //   ],
            // ];



            function setMarkers(map, pos) {
              var url = `/getpeoplearound/?lat=${pos.lat}&lng=${pos.lng}`;
              $.get(url, function (data) {



                var beaches = data["people_around"];

                console.log(beaches);
                // Adds markers to the map.

                // Marker sizes are expressed as a Size of X,Y where the origin of the image
                // (0,0) is located in the top left of the image.

                // Origins, anchor positions and coordinates of the marker increase in the X
                // direction to the right and in the Y direction down.
                var icon = {
                      url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                    }
                // Shapes define the clickable region of the icon. The type defines an HTML
                // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                // The final coordinate closes the poly by connecting to the first coordinate.
                var shape = {
                  coords: [1, 1, 1, 20, 18, 20, 18, 1],
                  type: 'poly'
                };
                for (var i = 0; i < beaches.length; i++) {
                  var beach = beaches[i];
                  var marker = new google.maps.Marker({
                    position: { lat: parseFloat(beach[1]), lng: parseFloat(beach[2]) },
                    map: map,
                    icon: icon,
                    title: beach[0] + "",
                    zIndex: beach[3]
                  });

                  marker.addListener('click', function () {
                    // map.setZoom(8);
                    // map.setCenter(marker.getPosition());
                    // alert(this.title);
                    window.location.href = "/persondetails?id="+this.title;
                  });

                }


              });

            }
            // function initAutocomplete() {
            //     // Create the search box and link it to the UI element.
            //     var input = document.getElementById('pac-input');
            //     var searchBox = new google.maps.places.SearchBox(input);
            //     map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            //     // Bias the SearchBox results towards current map's viewport.
            //     map.addListener('bounds_changed', function () {
            //         searchBox.setBounds(map.getBounds());
            //     });

            //     var markers = [];
            //     // Listen for the event fired when the user selects a prediction and retrieve
            //     // more details for that place.
            //     searchBox.addListener('places_changed', function () {
            //         var places = searchBox.getPlaces();

            //         if (places.length == 0) {
            //             return;
            //         }

            //         // Clear out the old markers.
            //         markers.forEach(function (marker) {
            //             marker.setMap(null);
            //         });
            //         markers = [];

            //         // For each place, get the icon, name and location.
            //         var bounds = new google.maps.LatLngBounds();
            //         places.forEach(function (place) {
            //             if (!place.geometry) {
            //                 console.log("Returned place contains no geometry");
            //                 return;
            //             }
            //             var icon = {
            //                 url: place.icon,
            //                 size: new google.maps.Size(71, 71),
            //                 origin: new google.maps.Point(0, 0),
            //                 anchor: new google.maps.Point(17, 34),
            //                 scaledSize: new google.maps.Size(25, 25)
            //             };

            //             // Create a marker for each place.
            //             var marker = new google.maps.Marker({
            //                 map: map,
            //                 icon: icon,
            //                 title: place.name,
            //                 position: place.geometry.location
            //             });
            //             marker.addListener('click', function () {
            //                 // map.setZoom(8);
            //                 // map.setCenter(marker.getPosition());
            //                 $("p#location_address").text($("input#pac-input").val());
            //                 $(".modal").addClass("is-active");
            //                 populateParkingGraph('Morning', $("input#pac-input").val(), place.geometry.location.lat(), place.geometry.location.lng());
            //             });

            //             markers.push(marker);

            //             if (place.geometry.viewport) {
            //                 // Only geocodes have viewport.
            //                 bounds.union(place.geometry.viewport);
            //             } else {
            //                 bounds.extend(place.geometry.location);
            //             }
            //         });
            //         map.fitBounds(bounds);
            //     });
            // }
          </script>

          <!--Load the API from the specified URL
          * The async attribute allows the browser to render the page while the API loads
          * The key parameter will contain your own API key (which is not needed for this tutorial)
          * The callback parameter executes the initMap() function
          -->
          <script async defer src="//maps.googleapis.com/maps/api/js?key={{GMAP_API_KEY}}&callback=initMap">
          </script>

        </div>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Important Message</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">
          <p>
            {{dashboard.important_message}}
          </p>
        </div>
      </div>
    </div>
  </div>



</div>
<!-- /.container-fluid -->

<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>

<script>


</script>

{% endblock %}