{% extends 'covid19helplineinfoapp/base.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Person Details</li>
      <!-- <li class="breadcrumb-item active" aria-current="page"><a
              href="{% url 'covid19helplineinfoapp:mylocalinfo'   %}" class="">Manage</a></li> -->
    </ol>
  </nav>


  <table class="table stripe">

    <tr>
      <td>Type</td>
      <td>{{profile_instance.help_type}}</td>
    </tr>
    <tr>
        <td>Help Text</td>
        <td>{{profile_instance.help_text}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{profile_instance.user.first_name}} {{profile_instance.user.last_name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{profile_instance.user.email}}</td>
      </tr>

   
  </table>

  {% endblock %}