{% extends 'covid19helplineinfoapp/base.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Manage Work Instruction</li>
      <li class="breadcrumb-item active" aria-current="page"><a
          href="{% url 'covid19helplineinfoapp:admin_wi_action' action='create' id=0 %}" class="">Create</a></li>
    </ol>
  </nav>

  <form method="post" action="{% url 'covid19helplineinfoapp:admin_wi_detail' %}">
    {% csrf_token %}

    <div class="form-row">

      <div class="col">
        <div class="form-group">
          <label for="select">Equipment Type</label>
          <div>
            {{ form.equipment_type }}
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <button name="submit" type="submit" class="btn btn-primary">Filter</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Instruction</th>
      <th>Type</th>
      <th>Created Date</th>
      <th>Action</th>
    </thead>
    <tbody>
    
      {% for work_instruction in work_instructions %}

      <tr>
       
        <td>
          {{work_instruction.id}}</td>
        <td>        
      
        <p>
          <a class="btn btn-outline-primary" data-toggle="collapse" href="#work-instruction-{{work_instruction.id}}" role="button" aria-expanded="false" aria-controls="work-instruction-{{work_instruction.id}}">
           Click to See
          </a>
         
        </p>
        <div class="collapse" id="work-instruction-{{work_instruction.id}}">
          <div class="card card-body">
              {{work_instruction.instruction}}
          </div>
        </div>



      </td>
        <td>{{work_instruction.equipment_type}}</td>
        <td>{{work_instruction.created_date}}</td>

        <td><a href="{% url 'covid19helplineinfoapp:admin_wi_action' action='edit' id=work_instruction.id %}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- DataTales Example -->
  <!-- <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Equipments</h6>
    </div>
    <div class="card-body">

      <table class="table">
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Commisioned Date</th>
          <th>Status</th>
          <th>Location</th>
          <th>IoT Sensors</th>
          <th>Linked QR</th>
          <th>Work Instructions</th>
          <th>Asset Log</th>
          <th>Action</th>
          </thead>
          <tbody>

            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td>{{equipment.</td>
            <td><a href="">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div> -->
  <!-- /.container-fluid -->

  {% endblock %}